# Byte-compiled / cached / virtualenv files.
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Poetry virtual environment (in-project).
.venv/

# System files.
.DS_Store

# Data.
data/
models/
